virtualenv>=0.0
certifi==2018.1.18
chardet==3.0.4
idna==2.6
pkginfo==1.4.1
requests==2.21.0
requests-toolbelt==0.8.0
tqdm==4.19.7
twine==1.10.0
urllib3==1.26.5
pandas
rdflib
kgx>=0.4.0
cmake
embiggen==0.8.2
ensmallen_graph==0.5.2
git+git://github.com/Knowledge-Graph-Hub/NEAT.git
six
jupyter
numpy
seaborn
sweetviz
j2cli
j2cli[yaml]
ampligraph
git_root
click
git+https://github.com/mapping-commons/sssom-py.git
